<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ArticleMapper">
    <insert id="saveArticle" parameterType="model.Article" useGeneratedKeys="true" keyProperty="idArticle">
        INSERT INTO article(title,date,idlabel,idcategory,sketch,imagepath,idcontent) VALUES (#{title},#{date},#{label.idLabel},#{category.idCategory},#{sketch},#{imagePath},#{content.idContent})
    </insert>
    <resultMap id="articleMap" type="model.Article">
        <id column="idarticle" property="idArticle"/>
        <result property="date" column="date"/>
        <result property="imagePath" column="imagepath"/>
        <result property="sketch" column="sketch"/>
        <association property="category" column="idcategory" fetchType="eager"
            select="mapper.CategoryAndLabelMapper.selectCategoryById"/>
        <association property="label" column="idlabel" fetchType="eager"
                     select="mapper.CategoryAndLabelMapper.selectLabelById"/>
        <association property="content" column="idcontent" fetchType="lazy"
                     select="selectContentByArticleId"/>
     </resultMap>
    <select id="selectArticleForIndex" resultMap="articleMap" parameterType="string">
        SELECT * FROM article
        <where>
            <if test="keyWord != null">
                AND title LIKE concat('%',#{keyWord},'%')
            </if>
        </where>
        ORDER BY date DESC LIMIT 5
    </select>
    <select id="selectArticle" resultMap="articleMap" parameterType="valueobject.ArticleVO">
        SELECT * FROM article
        <where>
            <if test="title != null">
                title like concat('%',#{title},'%')
            </if>
            <if test="startDate != null and endDate != null">
                AND date BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="label != null and label.idLabel != null and label.idLabel != 0">
                AND idlabel = #{label.idLabel}
            </if>
            <if test="category != null and category.idCategory != null and category.idCategory != 0">
                AND idcategory = #{category.idCategory}
            </if>
            <if test="sketch != null">
                AND sketch like concat('%',#{sketch},'%')
            </if>
        </where>
    </select>
    <select id="selectArticleById" parameterType="int" resultMap="articleMap">
        SELECT * FROM article WHERE idarticle = #{id}
    </select>
    <select id="selectContentByArticleId" parameterType="int" resultType="model.Content">
        SELECT * from content WHERE idcontent = #{id}
    </select>
    <insert id="saveContent" parameterType="model.Content" useGeneratedKeys="true" keyProperty="idContent">
        insert into content (content) values (#{content})
    </insert>
    <select id="selectArticleByCategory" parameterType="int" resultMap="articleMap">
        SELECT * FROM article WHERE idcategory = #{idCategort}
    </select>
    <delete id="deleteArticleById" parameterType="int">
        DELETE FROM article WHERE idarticle = #{id}
    </delete>
    <update id="updateArticle" parameterType="model.Article">
        UPDATE article
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="date != null">
                date = #{date},
            </if>
            <if test="label != null and label.idLabel != null ">
                idlabel = #{label.idLabel},
            </if>
            <if test="category != null and category.idCategory != null">
                idcategory = #{category.idCategory},
            </if>
            <if test="sketch != null">
                sketch = #{sketch},
            </if>
            <if test="imagePath != null">
                imagepath = #{imagePath}
            </if>
        </set>
        WHERE idarticle = #{idArticle}
    </update>
    <update id="updateContent" parameterType="model.Content">
        UPDATE content
        <set>
            <if test="content != null">
                content = #{content}
            </if>
        </set>
        WHERE idcontent = #{idContent}
    </update>
</mapper>