<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.WebMapper">
    <insert id="saveWeb" parameterType="model.Web" useGeneratedKeys="true">
        INSERT INTO web(weburl,description,remark,label) VALUES (#{webUrl},#{description},#{remark},#{label})
    </insert>
    <select id="selectWebForIndex" resultType="model.Web" parameterType="string">
        SELECT * from web
        <where>
            <if test="keyWord != null">
                description LIKE concat('%',#{keyWord},'%')
            </if>
        </where>
        ORDER BY idweb DESC limit 5
    </select>
    <select id="selectAllWeb" resultType="model.Web">
        SELECT * FROM web
    </select>
</mapper>